header
  .header_inner
    .logo  
      a(href='/')
        img(src="/public/img/octopus.png" alt='octopus' class="logo" ismap)   
    .menu
      details
        summary.not_details_marker
          img#burger.icon(src='/public/img/menu.png')
        details-menu.dropdown-menu
          if authorised 
            li
              if username
                a.dropdown_item(href='/') 
                  | Signed in as 
                  b #{username}
              else
                b.dropdown_item not signed 
            hr
            li
              a.dropdown_item(href=`/git/${username}`) Your profile
            hr
            li
              form(action="/api/logout", method="post")
                button(type="submit").dropdown_item Выйти
          else
            li
              a.dropdown_item(href='/signin') Войти
            li
              a.dropdown_item(href='/register') Регистрация
  hr.onfullwidth.no_vertical_margin.no_horizontal_border

