meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title #{title} 
<!-- Chrome, Firefox OS and Opera -->
meta(name="theme-color", content="#9166cb")
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#9166cb">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#9166cb">
<!-- json manifest -->
<link rel="manifest" href="public/json/manifest.json">
<!-- other data -->