html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
        link(rel="stylesheet", href="/public/css/modules/input.css")
    body
        include modules/header
        main
            .main_inner
                .inputForm.white_block
                    H2 Создать новый репозиторий
                    form(action="api/create_repo", method="post").inputForm
                        p Имя репозитория
                        input#name(type="text", name="name", placeholder=`Type name repos`, required='required', pattern='.+')
                        p Описание (не обязательно)
                        input#desription(type="text", patter=".*")
                        hr.onfullwidth
                        div
                            input#private(type="radio" name="public" value="false") 
                            label(for="private") Приватный
                            input#public(type="radio" name="public" value="true") 
                            label(for="public") Публичный
                        hr.onfullwidth
                        .space_between_inner
                            button#submit(class="welcome") Создать
                            a(href='/')
                                div.welcome Отменить