doctype html
head(lang="ru")
  include modules/meta
  link(rel="stylesheet", href="/public/css/style.css")
  link(rel="stylesheet", href="/public/css/modules/colors.css")
  script(type='text/javascript', src='/public/js/lenta.js')
body
  include modules/header 
  main
    content
    
        
        
