html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include modules/header
        main
            .repositories_block
            .main_info
            .account_block
