html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include modules/header
        main
            .main_inner
                aside.repositories_block
                    b 
                        | Репозитории:
                        a#create_new_repo(href='/creating_repo') создать новый
                    if !repositories || !repositories.length
                        p тут ничего нет
                    else 
                        -for(let i = 0; i < repositories.length; i++) {
                        -   const elem = repositories[i];
                        .repo
                            a.repo_url(href=elem.html_url) #{elem.name}
                        -}
                .main_info
                .account_block
