<!DOCTYPE html>
html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include modules/header 
        main
            H3 Ты нашёл то чего нет