<!DOCTYPE html>
html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/modules/colors.css")
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include modules/header 
        main
            .profile
                .avatar
                    img(scr=avatar_url)
                .status
                    p #{status_data}
                .username
                    p #{username}
                .bio
                    p #{bio}

