html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include modules/header
        main
            .main_inner.space_around_inner
                .white_block
                    H2 для работы требуется аккаунт, войди или выйди
                    .space_between_inner.with_top_margin.with_bottom_margin
                        a(href="/signin").whiteBtn
                            b Войти
                        a(href="/register").whiteBtn
                            b Регистрация